:hover 
{
	color: goldenrod;
	background-color: yellow;
}

.flex-item-odd
{
	cursor: pointer;
}
.flex-item-even
{
	cursor: pointer;
}
.flex-item-last
{
	cursor: pointer;
}
.flex-container {
	display: flex;
	flex-direction: row;
	height: 500px;
	color: black;
	position: static;
}
.flex-item-odd 
{
	border-left-style: dotted;
	border-color: #D0D0FF;
	border-width: 10px;
	height: 150px;
	width: 100px;
	font-family: Tahoma;
	font-size: 40px;
	background-color: #eeeff2;
	margin: 10px;
	
}

.flex-item-even 
{
	border-left-style: dotted;
	border-color: #D0D0FF;
	border-width: 10px;
	height: 150px;
	width: 100px;
	font-family: Tahoma;
	font-size: 40px;
	background-color: #eeeff2;
	margin: 10px;
	
}

.flex-item-last 
{
	margin: auto;
	border-left-style: dotted;
	border-color: #D0D0FF;
	border-width: 10px;
	height: 150px;
	width: 100px;
	font-family: Tahoma;
	font-size: 40px;
	background-color: #eeeff2;
	margin: 10px;
	order: 1;
    flex: 0 1 auto;
	align-self: flex-end;
}
